npm install next react react-dom --legacy-peer-deps
npm install sigma graphology --legacy-peer-deps
npm install graphology -serialization --legacy-peer-deps
npm install -D @types/react @types/react-dom --legacy-peer-deps